#BetterSubtitlesOverlay{

}
#BetterSubtitlesOverlay div{
    
}
#BetterSubtitlesOverlay #VideoHighlight{
    position: absolute; 
    z-index: 999999; 
    background-color: rgb(89, 182, 194,0.3); 
    width: 100%; 
    height: 100%; 
    z-index : 10000;
}
#BetterSubtitlesOverlay #VideoHighlight #VideoHighlightText{
    position: relative; 
    text-align: center; 
    font-size: 40px;  
    top: 50%; 
    z-index : 10001;
}



#BetterSubtitlesOverlay #SearchSubtitlesOverlay{
    position: absolute; 
    z-index: 999999; 
    background-color: rgba(107, 107, 107, 0.6); 
    width: 100%; 
    height: 100%; 
    z-index : 10000;
    
    display: flex;
    flex-direction: column;
}
#CloseOverlay{
    position: absolute;
    top: 0;
    right: 0;

    width: 40px; 
    height: 40px; 
    font-size: 30px;
    padding: 0 0 5px 5px;
    
    z-index: 1000;

    border: none;
    border-radius: 0 0 0 10px;
    background-color: #0000003b;
    color: #adadad;
}
#CloseOverlay:hover{
    background-color: #0000008f;
}




#SearchBox {    
    display: flex;
    flex-direction: column;

    padding: 20px;
    padding-bottom: 10px;

    background-color: #00000040;
    color: black;
    font-size: 30px;
    border-left: 8px solid #ff0000;
}

#SearchBox1 {
    display: flex;
}
#SubtitleTypeButton {
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 30px;
}
#SubtitleTypeButton img{
    padding: 0 5px;
}
#SubtitleTypeText{
    width: 100px;
}
#SearchSubtitlesInput {
    height: 44px;
    width: 750px;
    
    font-size: 30px;

    border-radius: 10px;
    background-color: white;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/search.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 40px;
    padding-left:55px;
}
#SearchSubtitlesInput.linked {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/link.svg');
    background-color: #c3defe;
    font-weight: 500;
    font-style: italic;
}
#SearchSubtitlesButton {
    padding: 0;    
    width: 52px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
#SearchSubtitlesButton img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ImportSubtitles {
    padding: 0;    
    width: 52px;
    margin-left: 10px;
}
#ImportSubtitles img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ImportSubtitlesButton {
    width: 48px;
    margin-left: 10px;
    padding: 0px;
    background-color: buttonface;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#ImportSubtitles {/*dont show the actual input field*/
    display: none;
}
#ImportSubtitlesButton img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#SearchBox2 {
    display: flex;
    height: 30px;
    margin-top: 10px;
    font-size: 25px;
}
#SearchBox2 img {
    height: 26px;
    padding: 2px;
    padding-right: 32px;
    border-radius: 5px;
    background-color: #d7d7d7;
}
#LanguageSelect {
    height: 30px;
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
}
#HearingImpaired{    
    width: 26px;
    margin-left: -30px;
    margin-right: 20px;
    cursor: pointer;
}
#ForeignPartsOnly{
    width: 26px;
    margin-left: -30px;
    cursor: pointer;
}
#SeriesOptions{
    color: white;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: black;
}
#SeasonLabel{
    margin-left: 20px;
    background-color: rgb(215, 215, 215);
    padding: 2px 100px 4px 8px;
    border-radius: 5px;
    height: 24px;
}
#SeasonNumber{
    height: 24px;
    width: 75px;
    margin-left: -90px;
    height: 20px;
    font-size: 22px;
}
#EpisodeLabel{
    margin-left: 20px;    
    background-color: rgb(215, 215, 215);
    padding: 2px 100px 4px 8px;
    border-radius: 5px;
    height: 24px;
}
#EpisodeNumber{
    height: 24px;
    width: 75px;
    margin-left: -90px;
    height: 20px;
    font-size: 22px;
}
#OpenSubtitlesAttribution{
    padding-top: 5px;
    color: #d0cfcf;
    font-size: 12px;
}
#OpenSubtitlesAttribution a{
    color: white;
    text-decoration: underline;
}


#SearchSubtitlesResultsContainer{
    overflow-y: scroll;
    padding-bottom: 20px;
}
.SubtitleResultListItem{
    background-color: #313131db;
    color: white;
    border: none;
    border-left: 5px solid red;

    margin: 8px 0 0 20px;
    width: 95%;
    text-align: left;
    height: 64px;
    padding: 0;
}
.SubtitleResultListItem_Title{
    display: inline-block;
    font-size: 25px;
    padding: 4px;
}
.SubtitleResultListItem_FullName {
    font-size: 14px;
    color: gray;
}
.SubtitleResultListItem_Info{
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    background-color: #00000054;
}
.SubtitleResultListItem img{
    width: 22px;
}
.SubtitleResultListItem_Downloads{
    font-size: 13px;
    margin-right: 10px;
}
.SubtitleResultListItem_DownloadsIcon{
    margin-left: 10px;
    filter: invert(1);
}

#Subtitles{
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 10000;

    text-align: center;
    color: white;
    font-size: 40px;
    
}



#SyncSubtitles {
    position: absolute;
    background-color: #1a1a1ac5;
    width: 100%;
    height: 85%;
    z-index: 10000;
}
#SyncInfo {
    position: absolute;
    width: 30%;
    padding-left: 20px;
    border-left: 5px solid red;
    margin: 10px;
    background-color: #ffffff08;
}
#SyncInfo h1{    
    font-size: 3vh;
    margin: 0;
    margin-top: 10px;
}
#SyncInfo p{    
    font-size: 1.3vh;
    margin-right: 50px;
}
#SyncSubtitles_Timeline{
    height: 100%;

    --mask: linear-gradient(
        to bottom, 
        rgb(0 0 0 / 0) 1%, 
        rgba(0,0,0, 1) 5%, 
        rgba(0,0,0, 1) 90%,  
        rgb(0 0 0 / 0) 99% ) 
        100% 80% / 100% 100% repeat-x;

    -webkit-mask: var(--mask); 
    mask: var(--mask);
}
#SyncSubtitles_Subs::-webkit-scrollbar{
    display: none;
}
#SyncSubtitles_Subs{
    position: absolute;
    left: 35%; 
    width: 65%;
    height: 100%;

    overflow-y: auto;
    margin: 0;
}

#SyncSubtitles_TimeLineLine {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0px;
    bottom: 0px;
    left: 35%;
    margin-left: 10px;
}
.SyncSubtitles_SubtitleItem {
    position: absolute;

    display: flex;
    align-items: center;

    margin-left: 15px;
    padding-left: 0;
    background-color: #ffffff24;
}
.SyncSubtitles_SubtitleText {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 30px 15px 30px;
}
.SyncSubtitles_StartMarker {
    background-color: white;
    height: 1px;
    width: 20px;
    position: absolute;
    left: -15px;
    top: 0;
}
.SyncSubtitles_EndMarker {
    background-color: white;
    height: 1px;
    width: 20px;
    position: absolute;
    left: -15px;
    bottom: 0;
}


#SyncSubtitles_TimeMarker {    
    position: absolute;
    right: 65%;
    top: 450px;
    padding-right: 50px;
    height: 0;

    display: flex;
    align-items: center;
}
#SyncSubtitles_TimeMarkerArrow {
    right: 10px;
    position: absolute;

    border: medium solid white;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #ff0404;
}
#SyncSubtitles_TimeText {
    font-size: 40px;
}
#SyncSubtitles_DoneButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: solid 2px white;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#SyncSubtitles_DoneButton img{
    filter: invert(1);
    height: 40px;
    margin-right: 10px;
}





#QuickSettings{
    width: 300px;
    height: 210px;
    
    position: absolute;
    right: 0;
    bottom: 200px;

    z-index: 100000;
    background-color: #000000bb;
}
#QuickSettings h1 {
    border-left: 5px solid red;
    font-size: 25px;
    padding: 5px 10px;
    margin: 0 0 10px 0;
}
#QuickSettings button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 16px;
    color: white;
}
#QuickSettings button:hover {
    background-color: #ffffff33;
}
#QuickSettings #ReselectSubtitle {
    margin: 0px 10px;
}
#QuickSettings #RemoveSubtitles {
    margin: 5px 0px 0px 10px;
}
#QuickSettings #EnterSyncMode {
    margin: 0px;
    margin-bottom: 5px;
}
#QuickSettings #QuickSync {
    margin: 5px 10px;
}
#QuickSettings #QuickSync p {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}




#ErrorOverLay{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    background-color: #000000a1;
}
#ErrorPopup{
    background-color: #000000;
    border-left: 5px solid red;
    font-size: 30px;
    padding: 20px;
    max-width: 70%;
}
#ErrorPopup h1{
    font-size: 30px;
}
#ErrorPopup p{
    font-size: 20px;
}









/*Autocomplete */
.autocomplete {
    position: relative;
}
.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}


/* Force hidden to hide again even if other css is more specific */
[hidden] { display: none !important; }

/*REMOVE NUMBER FIELD ARROWS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}