#BetterSubtitlesOverlay{

}
#BetterSubtitlesOverlay div{
    position: relative;
}
#BetterSubtitlesOverlay #VideoHighlight{
    position: absolute; 
    z-index: 999999; 
    background-color: rgb(89, 182, 194,0.3); 
    width: 100%; 
    height: 100%; 
    z-index : 10000;
}
#BetterSubtitlesOverlay #VideoHighlight #VideoHighlightText{
    position: relative; 
    text-align: center; 
    font-size: 40px;  
    top: 50%; 
    z-index : 10001;
}



#BetterSubtitlesOverlay #SearchSubtitlesOverlay{
    position: absolute; 
    z-index: 999999; 
    background-color: rgba(107, 107, 107, 0.6); 
    width: 100%; 
    height: 100%; 
    z-index : 10000;
}
#CloseOverlay{
    position: absolute;
    top: 0;
    right: 0;

    width: 40px; 
    height: 40px; 
    font-size: 30px;
    padding: 0 0 5px 5px;
    
    z-index: 1000;

    border: none;
    border-radius: 0 0 0 10px;
    background-color: #0000003b;
    color: black;
}
#CloseOverlay:hover{
    background-color: #0000008f;
}




#SearchBox {    
    height: 90px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    background-color: #e6f9ffe8;
    color: black;
    font-size: 30px;
}

#SearchBox1 {
    display: flex;
}
#LanguageSelect {
    height: 50px;
    width: 200px;
    margin-right: 20px;
}
#SearchSubtitlesInput {
    height: 44px;
    width: 750px;

    background-color: white;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/search.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 40px;
    padding-left:55px;
}
#SearchSubtitlesButton {
    padding: 0;    
    width: 52px;
    margin-left: 10px;
}
#SearchSubtitlesButton img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ImportSubtitles {
    padding: 0;    
    width: 52px;
    margin-left: 10px;
}
#ImportSubtitles img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#SearchBox2 {
    display: flex;
    height: 30px;
    margin-top: 10px;
    font-size: 25px;
}
#HearingImpaired{    
    width: 30px;
    margin-right: 5px;
}
#ForeignPartsOnly{
    width: 30px;
    margin-right: 5px;
    margin-left: 30px;
}
#SeasonLabel{
    margin-left: 100px;
}
#SeasonNumber{
    width: 75px;
    margin-left: 20px;
}
#EpisodeLabel{
    margin-left: 20px;
}
#EpisodeNumber{
    width: 75px;
    margin-left: 20px;
}


.SubtitleResultListItem{
    font-size: 20px;
    margin: 5px 0 0 20px;
    color: black;
    width: 95%;
    text-align: left;
    height: 40px;
    margin-right: 20px;
}










/*REMOVE NUMBER FIELD ARROWS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}