html{
    height: 500px;
}
body{
    width: 300px;
    height: 500px;
    margin: 0;
    background-color: lightsteelblue;
}
#top {
    background-color: cornflowerblue;
    padding: 5px 10px;
    margin: 0;
}
#top h1{
    display: inline-block;
    margin: 0;
}
#Settings{
    background: transparent;
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    float: right;
}
#Settings img{
    filter: brightness(0%);
    /* source image is white but want black */
}
#Settings:hover{
    background: aliceblue;
}


#SelectVideoPlayers{
    padding: 10px;
}
#SelectVideoPlayers h2{
    display: inline;
}
.VideoPlayerListItem{
    margin: 3px 0px;
    white-space: nowrap; 
    overflow: hidden;

    border-radius: 8px;
    width: 100%;
    height: 38px;
    text-align: left;
    border: 1px solid #999;
    border: none;
    padding-left: 10px;
}
#DetectVideoPlayers{
    background: transparent;
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    float: right;
}
#DetectVideoPlayers img{
    filter: brightness(0%);
    /* source image is white but want black */
}
#DetectVideoPlayers:hover{
    background: aliceblue;
}